// Lesson.scss

// Lessons Screen:
// This is the screen with
// the grid layout

#lessons {
	ul {
		list-style: none;
		overflow: hidden;
		
		li {
			float: left;
			width: 50%;
		}
	}
}


// Lesson Screen:
// This is the screen with
// the individual lesson.

.video-container {
	background: #242424;
	height: 50%;
}

ul.captions {
	height: 50%;
	list-style-type: none;

	li {
		font-size: 150%;
	}
}