// Partials Imports
@import 'grid';
@import 'mixins';

// Colors
$mint-green: #14D173;
$mint-green-1: #3DFF9E;
$white: #fafafa;
$dev: #c33;

// Color Assignments
$color-bg: $mint-green;
$color-text: $white;
$color-header: $white;
$color-header-outside: $white;
$color-shadows: $dev;
$color-highlight: $dev;
$color-elem-bg: $white;
$color-elem-container: $mint-green-1;

// GFX
$gfx-path: '/images/gfx/';
$bg-gfx: #{$gfx-path}#{'bg.png'};

// Fonts
@include font-face("Arsenal", font-files("/fonts/Arsenal/Arsenal-Regular-webfont.woff","/fonts/Arsenal/Arsenal-Regular-webfont.ttf", "/fonts/Arsenal/Arsenal-Regular-webfont.otf", "/fonts/Arsenal/Arsenal-Regular-webfont.svg"));
@include font-face("Arsenal Bold", font-files("/fonts/Arsenal/Arsenal-Bold-webfont.woff","/fonts/Arsenal/Arsenal-Bold-webfont.ttf", "/fonts/Arsenal/Arsenal-Bold-webfont.otf", "/fonts/Arsenal/Arsenal-Bold-webfont.svg"));
@include font-face("Colaborate", font-files("/fonts/Colaborate/ColabLig-webfont.woff","/fonts/Colaborate/ColabLig-webfont.ttf", "/fonts/Colaborate/ColabLig-webfont.otf", "/fonts/Colaborate/ColabLig-webfont.svg"));

$header-font: "Arsenal";
$paragraph-font: "Colaborate";
$touch-font: "";